* {
	font-weight: 300;
	font-family: system-ui;
	--primary: #588fec;
	--bg: #1b1b1b;
	--text: #ffffff;
	--thickness: 2px;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: light) {
	* {
		--primary: #588fec;
		--text: #1b1b1b;
		--bg: #ffffff;
	}

	button:hover,
	select:hover {
		color: var(--bg);
	}

	img {
		background-color: black;
		border-radius: 50%;
	}
}

html {
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--text);
}

.red,
.red:hover {
	background-color: #de3535;
	border: #de3535;
}

.green,
.green:hover {
	background-color: #3fc944;
	border: #3fc944;
}

select {
	background-color: var(--bg);
	color: var(--text);
	cursor: pointer;
	text-align: center;
	padding: 1em 1em;
	border: 2px solid var(--primary);
	border-radius: 4px;
	font-size: 1em;
	width: 100%;
}

button {
	cursor: pointer;
	width: 100%;
	padding: 1em 2em;
	background-color: var(--bg);
	color: var(--text);
	border: var(--thickness) solid var(--primary);
	border-radius: 4px;
	font-size: 1em;
}

video {
	border-radius: 4px;
	margin-bottom: 1em;
	margin: auto;
}

/* for displays <500px */
@media only screen and (max-width: 500px) {
	#response {
		font-size: 0.8em;
		width: 90vw;
		max-height: 30vh;
	}
}

button:hover,
select:hover {
	background-color: var(--primary);
	transition: all 200ms;
}

input[type="password"] {
	background-color: var(--bg);
	color: var(--text);
	border: var(--thickness) solid var(--primary);
	padding: 0.5em;
	margin-bottom: 3px;
	border-radius: 3px;
}

@media only screen and (max-width: 1000px) {
	.stuff {
		width: 90vw;
	}

	textarea {
		height: 50px;
	}
}

@media only screen and (max-width: 1000px) {
	.flex {
		flex-direction: column;
		align-items: center;
		max-width: 95vw;
	}

	.left,
	.right {
		height: auto;
		width: 90vw;
		margin: 0;
	}

	.stuff {
		max-width: 100vw;
		margin: auto;
	}

	.stuff > h1 {
		margin-bottom: 1em;
		font-size: 2em;
		font-weight: 100;
	}

	textarea {
		height: 50px;
	}
}

.speech-checkbox {
	margin-top: 0.5em;
	display: flex;
	gap: 1;
	justify-content: space-between;
}

.speech-checkbox > input {
	cursor: pointer;
}

img {
	height: 50px;
	transform: translateY(8px) translateX(-6px);
}

/* LOADER */
.loader {
	position: fixed;
	top: 12px;
	right: 12px;
	width: 32px;
	height: 32px;
}

.loader:before,
.loader:after {
	content: "";
	border-radius: 50%;
	position: absolute;
	inset: 0;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
	box-shadow: 0 2px 0 var(--primary) inset;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* NEW */

.fix {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.3);
	max-width: max-content;
	border-radius: 5px;
	/* background filter */
	backdrop-filter: blur(5px);
	padding: 2em 1em;
	display: flex;
	gap: 0.5em;
	margin-top: 1em;
	align-items: center;
	justify-content: center;
	height: 100px;
}

textarea {
	background-color: var(--bg);
	color: var(--text);
	border: var(--thickness) solid var(--primary);
	border-radius: 3px;
	width: 400px;
	max-width: 95%;
	height: 99%;
	padding: 8px;
}

/* if screen width <600px, .fix should col flex */
@media only screen and (max-width: 600px) {
	.fix {
		flex-direction: column;
		height: 200px;
	}

	textarea {
		height: 100px;
		width: 100%;
	}
}

.settings {
	display: grid;
	/* 3x2 grid */
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-columns: 1fr 1fr; */
	gap: 0.5em;
}

/* width <600px */
@media only screen and (max-width: 600px) {
	.settings {
		grid-template-columns: 1fr 1fr;
	}
}

.settings > * {
	width: 190px;
}

#response {
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 1em;
	width: 70vw;
	font-weight: 300;
	overflow-y: scroll;
	max-height: 40vh;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1em;
	border-radius: 5px;
}
